$color-primary: #ff4d6d;
$color-turquoise: #40E0D0;

$gradient-colors: (
        "start": #ff4d6d,
        "mid1": #FFDEE9,
        "mid2": #B5FFFC,
        "mid3": #C1FFD7,
        "mid4": #D5F3FF,
        "mid5": #FEEFB3,
        "mid6": #d380a0,
        "mid7": #a140a4,
        "mid8": #40E0D0,
        "end": #ff4d6d
);

$font-main: 'Segoe UI', sans-serif;
$radius: 12px;
$shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
