.huge-view {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 685px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    gap: 10px;
}

.huge-view span {
    display: inline-flex;
    margin: 0;
    padding: 7px 15px;
    border-radius: 15px;
    font-family: sans-serif;
    color: white;
    background-color: #797777;
    font-size: 0.95rem;
    gap: 4px;
    vertical-align: middle;
    font-size: 1.1rem;
}

.huge-view span:hover {
    cursor: pointer;
    color: black;
    background-color: lightgrey;
}

.playIconSVG {
    height: 1.3rem;
    width: auto;
}